[submodule ".config/awesome/awesome-freedesktop"]
	path = .config/awesome/awesome-freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule ".config/awesome/--reference"]
	path = .config/awesome/--reference
	url = https://github.com/JezerM/bling.git
[submodule ".config/awesome/--reference=bling"]
	path = .config/awesome/--reference=bling
	url = https://github.com/JezerM/bling.git
[submodule ".config/awesome/bling"]
	path = .config/awesome/bling
	url = https://github.com/JezerM/bling.git
[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain
