* {
  all: unset; //Unsets everything so you can style everything from scratch
}

@mixin group() {
  background-color: #2e3440;
  border-radius: 50px;
  margin: 5px;
  padding: 0px 10px;
}

//Global Styles
window {
  background-color: #3B4252;
  color: #ffffff;
  font-family: monospace;
  font-size: 10px;
}

button {
  all: unset;
  padding: 0px 10px;
}

// Styles on classes (see eww.xml for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.slider-vol {
  @include group();
  scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
  }
  scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 5px;
    min-width: 50px;
    margin: 0px 10px;
  }
}

.slider-ram {
  @include group();
  scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
  }
  scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 5px;
    min-width: 50px;
    margin: 0px 10px;
  }
}

.label-ram {
  font-size: large;
}

.time, .date, .battery, .volume, .connection, .disconnected, .workspaces, .powerbtn {
  @include group();
  transition: 0.25s;
}
.time {
  color: #A3BE8C;
}
.date {
  color: #EBCB8B;
}
.volume {
  color: #88C0D0;
}
.connection {
  color: #B48EAD;
}
.disconnected {
  color: #BF616A;
}
.powerbtn:hover {
  background-color: #D35D6E;
}
.workspaces {
  padding: 0;
  button {
    transition: 0.25s;
    &:hover {
      color: #D35D6E;
    }
  }
}
.current {
  font-weight: bolder;
  background-color: #D35D6E;
  box-shadow: 0px 0px 2px #D35B6E;
  &:first-child {
    border-radius: 50px 0px 0px 50px;
  }
  &:last-child {
    border-radius: 0px 50px 50px 0px;
  }
}

.noneBar {
  background-color: #2e3440;
}

.power {
  margin: 5px 0px;
  * {
    padding: 5px;
    transition: 0.25s;
  }
  button:hover {
    background-color: #2e3440;
  }
}
