snippet println "System.out.println" i
System.out.println($1)
endsnippet

snippet printf "System.out.printf" i
System.out.printf($1)
endsnippet

snippet print "System.out.print" i
System.out.print($1)
endsnippet
