snippet vue:composite "Vue composite" b
<script setup lang="ts">
$0
</script>

<template>
$1
</template>

<style>
$2
</style>
endsnippet

snippet script "Script" b
<script lang="$0">
</script>
endsnippet

snippet script:composite "Script composite" b
<script setup lang="$0">
</script>
endsnippet

snippet template "Template HTML" b
<template>
</template>
endsnippet

snippet style "Style CSS" b
<style>
</style>
endsnippet
